*{
    font-family: 'Source Sans Pro', sans-serif; /*czcionka*/
}
nav{
    width: 100%;
    height: 60px;
    background-color: rgba(95, 170, 204, 0.753);
    color: #ffffff; /*kolor czcionki*/
    backdrop-filter: saturate(180%) blur(20px); /*rozmycie*/
    font-weight: 400; /*rodzaj wgranej czcionki, trzeba dać nr*/
    position: sticky; /*przykleja element*/
    top: 0; /*pozycja na stronie*/ 
}

a{
color: rgb(0, 0, 0);
text-decoration: none;
}
.wrap{
max-width: 1000px; /*ile strona ma pixeli w szerokości*/
margin: 0 auto; /*marginesy*/
display: flex; /*napisy koło siebie*/
justify-content: space-between; /*odstęp między wyrazami*/
}
.itemwrap{
display: flex;
}
@media(max-width: 500px){
    .itemwrap{
        display: none;
    }
}
.item{
    padding: 0 30px;
    line-height: 60px;
    color: white;
}
.logo{
    padding: 0 30px;
    line-height: 60px; /*linia żeby było na środku*/
  
}
body{
    margin: 0; /*margines zewnętrzny*/
    padding: 0; /*margines wewnętrzny*/
}

header{
    margin-top: -60px;
width: 100%;
height: 750px;
background-image: url("jantar.jpg"); /*dodanie zdjęcia*/
background-repeat: no-repeat;
background-size: cover;
}
/*blog*/
main{
    max-width: 1500px;
    margin: 0 auto;
}
.postlist{ /*kropka oznacza klase*/
    display: grid; /*wyświetla w siatce*/
    grid-template-columns: repeat(3,1fr); /*definicja kolumn*/
    grid-gap: 30px; /*odległośc pomiędzy kolumnami*/
}
@media(max-width: 500px){
    .postlist{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width: 700px) and (min-width: 500px) {
    .postlist{
        grid-template-columns: repeat(2,1fr);
    }
}

article>img{
    width: 100%;
}
article{
    box-shadow: 19px 15px 48px -7px rgba(34,30,30,0.75);
}
.tekst>.category{
color: rgba(62, 129, 160, 0.753);
font-weight: 600;
margin: 0;
}
.text>h3{
    color: #111;
    font-size: 20px;
}
.authortekst>p{
    color: black;
    margin: 0;
}
.author{
    display: flex;
}
.author>img{
    width: 48px;
    height: 48px;
    border-radius: 50%; /*kółko wokół zdj*/
    margin-right: 16px;
}
.tekst{
    padding: 24px;
}
main>h2{
    text-align: center;
    color:  black;
}
/* Sekcja kontaktowa */
section{
    max-width: 1000px;
    margin: 0 auto;
    display: flex; /* koło sb*/
    flex-wrap: wrap; /*pozwala na przeniesienie do kolejnej linijki*/
}
section>h2{
    text-align: center;
    width: 100%;
}
section>img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: 16px;
}
@media(max-width: 600px){
    section>img{
        margin: 0 auto 50px;
    }
}
section>form{
width: calc(100% - 216px);
}
@media(max-width: 600px){
    section>form{
        width: 100%;
}
}
form>input,form>textarea{
    width: 100%;
    border: none;
    box-shadow: 0 10px 15px -3px #0000001a;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 15px; /*wielkość czcionki*/
    border-radius: 3px;
}

form>input[type=submit]{
    width: 25%;
    background-color: rgba(28, 108, 139, 0.712);
    cursor: pointer;
    font-weight: 500;
}
@media(max-width: 600px){
    form>input[type=submit]{
        width: 100%;
    }
}
/* Stopka, to z c w kółku */
footer{
    width: 100%;
    height: 60px;
    background-color: rgba(28, 108, 139, 0.712);
    color: white;
    font-weight: 600;
    text-align: center; /* tekst na środku*/
    line-height: 60px; /* tekst na środku okienka*/
}
/*artykuł */
.artykol{
    max-width: 1000px;
    margin: 0 auto;
}
.artykol>img{
    width: 100%;
object-fit: cover;
}
.artykol>.data{
text-align: center;
}
.artykol>h1{
    text-align: center;
    font-weight: 600;
}
.artykol>p{
    text-align: justify;
}
